* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

div {
    margin-bottom: 20px;
}

span {
    font-weight: 900;
    color: red;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

form {
    width: 300px;
}

label {
    display: block;
    margin: 10px 0 5px 0;
}

p#p1 {
    font-size: 20px;
    font-weight: 900;
    color: blue;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

p#p2 {
    font-size: 20px;
    font-weight: 900;
    color: green;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin: 10px 5px 10px 0;
}

button {
    background-color: #f58c8c;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
}

button:hover {
    background-color: #db4d4d;
}

